body{
    margin : 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
a{
    text-decoration: none;
    color:white

}

.header{
    background-color: rgb(211, 139, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    color:white;
    padding: 0 10rem;

}
.header__nav__liste{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap:2rem;
}
main{
    background-color: antiquewhite;
    height:76vh;
    color:rgb(39, 39, 39);
    padding: 2rem 10rem;

}